/* yarn add normalize.css 重置全局css */
@import "~normalize.css";
@import "~antd/dist/antd.css";

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, 
header, menu, section, p, input, td, th, ins {
  padding: 0;
  margin: 0;
}

ul, li, ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: #666;
}

a:hover{
  color: #666;
  text-decoration: underline;
}

i, em {
  font-style: normal;
}

input, textarea, button, select, a {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  /* 去除图片底部间距 */
  vertical-align: middle;
}

/* 全局样式 */
body, textarea, select, input, button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrap-v1 {
  width: 1100px;
  margin: 0 auto;
}

.wrap-v2 {
  width: 980px;
  margin: 0 auto;
}

.sprite_banner {
  background: url(../img/banner_sprite.png) no-repeat 0 9999px;
}

.sprite_01 {
  background: url(../img/sprite_01.png) no-repeat 0 9999px;
}

.sprite_02 {
  background: url(../img/sprite_02.png) no-repeat 0 9999px;
}

.sprite_covor {
  background: url(../img/sprite_cover.png) no-repeat 0 9999px;
}

.sprite_icon {
  background: url(../img/sprite_icon.png) no-repeat 0 9999px;
}

.sprite_icon2 {
  background: url(../img/sprite_icon2.png) no-repeat 0 9999px;
}

.sprite_button {
  background: url(../img/sprite_button.png) no-repeat 0 9999px;
}

.sprite_button2 {
  background: url(../img/sprite_button2.png) no-repeat 0 9999px;
}

.sprite_table {
  background: url(../img/sprite_table.png) no-repeat 0 9999px;
}

.sprite_R {
  background: url(../img/R.png);
}

.sprite_police {
  background: url(../img/police.png);
}

.footer_title {
  background: url(../img/sprite_footer_01.png) no-repeat 0 9999px;
}

.footer_icon {
  background: url(../img/sprite_footer_02.png) no-repeat 0 9999px;
}

.sprite {
  background: url(../img/sprite.png) no-repeat 0 9999px
}

.image_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  background: url(../img/sprite_cover.png) no-repeat -145px -57px;
}

.sprite_player {
  background: url(../img/playbar_sprite.png) no-repeat 0 9999px;
}

.lyric-class .ant-message-notice-content {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #9b9b9b;;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9b9b9b;;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9b9b9b;;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9b9b9b;;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #9b9b9b;;
}
